<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Yatra+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Oleo+Script:wght@700&family=Yatra+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Josefin+Sans:wght@700&family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Josefin+Sans:wght@700&family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Josefin+Sans:wght@700&family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Fredoka+One&family=Josefin+Sans:wght@700&family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Fredoka+One&family=Josefin+Sans:wght@700&family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Fredoka+One&family=Josefin+Sans:wght@700&family=Lilita+One&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Travel</title>
</head>
<body>

<div class="basy">

    <div class="container">

        <div class="logo"><a href="#">TRAVEL</a></div>
        <div class="menu">
            <ul>
                <li><a href="#About">About Us</a></li>
                <li><a href="#Price">Price</a></li>
                <li><a href="#Info">Info</a></li>
                <li><a href="#zhety">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <div class="alem">
        <h1>Byzben <span>.</span> Byrge <span>.</span> Alemdy aralanyz<span>!</span></h1>
        <pre>Adamdy   3   narse   bakhytty   etedy  :  maxabbat ,  khyzykhty   zhumys
  zhane   saiakhattau   mumkyndygy</pre>
        <br><br>
        <span><a href="#">Saiakhattau</a></span>
    </div>
</div>

<div class="eky" id="About">
    <div class="container2">
        <div class="about">
            <h1>About</h1>
        </div>
        <div class="about2">
            Туристическое агентство Travel работает на рынке Республики Казахстан более 20 лет, поэтому вы можете быть уверены в надежности нашего агентства и в качестве оказываемых нами услуг. На нашем сайте можно ознакомиться со всеми услугами которые предоставлет наше туристическое агентство, у нас Вы сможете легко приобрести туры из Алматы и других регионов Казахстана.
        </div>
        <br/>
        <br/>
        <div class="ush">
            <div class="foto">
                <div><img src="/images/1.jpg" alt="">Siakhatta</div>
                <div><img src="/images/2.jpg" alt="">Oilan</div>
                <div><img src="/images/3.jpg" alt="">Demal</div>
            </div>
        </div>
    </div>
</div>

<div class="tort" id="Price">
    <div class="turlar">
        <h1>Turlar</h1>
        <h3>Alemdy byzben byrge Aralanyz zhane keremet sezym alanyz !</h3>
    </div>
</div>

<div class="bes">
    <div class="elder">
        <div>
            <img src="/images/italy.jpg" alt="">
            <p style="font-weight: bold;">ITALIA</p>
            <p>10 kunge demalys zhene konak ui ozymyzdyn atynan tamak ywyne kyredy  </p>
            <p style="font-weight: bold;">850 000 Tg</p>
            <button class="more-info" onclick="openModal('italy')">Подробнее</button>
        </div>
        <div>
            <img src="/images/paris.jpg" alt="">
            <p style="font-weight: bold;">PARIS</p>
            <p>10 kunge demalys zhene konak ui ozymyzdyn atynan tamak ywyne kyredy  </p>
            <p style="font-weight: bold;">900 000 Tg</p>
            <button class="more-info" onclick="openModal('paris')">Подробнее</button>
        </div>
        <div>
            <img src="/images/dubai.jpg" alt="">
            <p style="font-weight: bold;">DUBAI</p>
            <p>10 kunge demalys zhene konak ui ozymyzdyn atynan tamak ywyne kyredy  </p>
            <p style="font-weight: bold;">1 000 000 Tg</p>
            <button class="more-info" onclick="openModal('dubai')">Подробнее</button>
        </div>
        <div>
            <img src="/images/spain.jpg" alt="">
            <br/>
            <br/>
            <br/>
            <p style="font-weight: bold;">SPAIN</p>
            <p>10 kunge demalys zhene konak ui ozymyzdyn atynan tamak ywyne kyredy  </p>
            <p style="font-weight: bold;">750 000 Tg</p>
            <button class="more-info" onclick="openModal('spain')">Подробнее</button>
        </div>

    </div>
</div>


<div class="testimonial-container">
    <blockquote>
        Мы путешествуем не для того, чтобы сбежать от жизни, <br>
        а для того, чтобы жизнь из нас не сбежала
    </blockquote>
    <p class="author">Yermekov Yerassyl <span>YY</span></p>

    <div class="navigation">
        <i class="prev">←</i>
        <i class="next">→</i>
    </div>
</div>

<div class="alty" id="Info">
    <div class="men">
        <h1>Founder</h1>
    </div>
    <div class="portret">
        <img src="/images/3x4.2.jpg" alt="">
    </div>
    <div class="menzhaily">
        <p class="text">Men bul kompaniany 2022 zhyly awtym zhane alga karaim damyp kele zhatyrmyz.
            Bul travle men syzder alemnyn kez kelgen zheryne zhete alasyzdar zhane zhaksy
            sezym alasyzdar. Byz 2 000  ga zhuyk adamdardy kabyldadyk shetelge kydyrttyk.<br>
            Byz Byrge Alemdy Aralanyz!
        </p>
        <p class="kub"></p>
        <p class="texteky">
            Ermekov Erasyl Erkinuly
        </p>
    </div>
</div>

</body>
</html>