<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/stylereg.css" />
</head>
<body>
<h1>Регистрация</h1>
<form th:action="@{/register}" method="post">
    <label>Логин:</label>
    <input type="text" name="username" required />
    <label>Пароль:</label>
    <input type="password" name="password" required />
    <label>Роль:</label>
    <select name="role">
        <option value="USER">Пользователь</option>
        <option value="ADMIN">Администратор</option>
    </select>
    <button type="submit">Зарегистрироваться</button>
    <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
</form>
</body>
</html>
